<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>422080115613-kgq18vhahr9h2l8vfrtc3tb1r079jiaa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.422080115613-kgq18vhahr9h2l8vfrtc3tb1r079jiaa</string>
	<key>API_KEY</key>
	<string>AIzaSyD5GKmYzwxjSR0Y0Xukji0hIVF4xIMTDu4</string>
	<key>GCM_SENDER_ID</key>
	<string>422080115613</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.phillipilievski.Weather</string>
	<key>PROJECT_ID</key>
	<string>socialmedia-a6009</string>
	<key>STORAGE_BUCKET</key>
	<string>socialmedia-a6009.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:422080115613:ios:2d6ba83e59874db6</string>
	<key>DATABASE_URL</key>
	<string>https://socialmedia-a6009.firebaseio.com</string>
</dict>
</plist>